In [1]:
import pandas as pd
import numpy as np

In [2]:
spreadsheet = pd.read_csv('font_expenses.csv')
spreadsheet

,Name,Divide,Value (Euro by default),Date,Comment
0,Car,NaN,£395,All,Excluding Petrol and Lost Deposit atm
1,Hotel(general expenses),NaN,£620,All,Approx
2,Hotel specific (tbc) mac,NaN,50,All,Approx
3,Casino,4S,12.65,5th,NaN
4,Casino,4S,6.18,6th,Cereal
5,Bread,5,60,To 14th,(12 x ~5)
6,Casino,4S,60.75,6th,NaN
7,Casino,E,39.49,4th,Ella
8,Casino,4S,37.88,4th,Ella'
9,Casino,-,11.23,3rd,Alex paid (Towel)
10,Toll,4E,5.70,1st,NaN
11,Super U,4E,24.06,1st,NaN
12,Casino,4E,99.72,2nd,NaN
13,Dinner,C,71,7th,(14 EP 13AM and 17S +10%)
14,Casino,4S,26.27,8th,Rest Day Brunch Work
15,Petrol FR,NaN,49,8th,Confirmed
16,Baths,4S,25.50,8th,MJ paid; Ella paid for herself which is not in...
17,Casino,E,18.35,9th,Ella
18,Casino,4S,36.65,9th,Ella'
19,Casino,5,9.08,10th,Washing up stuff
20,Casino,E,12,11th,Ella
21,Casino,4S,57,11th,Ella'
22,Carre,5,5,12th,Roll
23,Casino,4S,35.46,13th,Standard stuff
24,Resource Transfer,NaN,£100,14th,Ella to Crout
25,Dinner2,C,93.50,14th,S14 A13 E25.50 MP 20.50 +tax
26,Casino,4S,22.27,15th,NaN
27,Fondu,MSE,30,15th,Ella paid

In [3]:
spreadsheet = spreadsheet[pd.notnull(spreadsheet['Divide'])]
#spreadsheet.Divide.unique()
value = 'Value (Euro by default)'
spreadsheet[[value]] = spreadsheet[[value]].apply(pd.to_numeric)
group = spreadsheet.groupby(spreadsheet.Divide)[value].sum()

/home/phillip/anaconda3/lib/python3.5/site-packages/pandas/core/frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [7]:
array = group.values
print(group)

Divide
-       11.23
4E     129.48
4S     320.61
5       74.08
C      164.50
E       69.84
MSE     30.00
Name: Value (Euro by default), dtype: float64

In [8]:
E = [0, 0.25, 0,    0.2, 0, 1]
M = [0, 0.25, 0.25, 0.2, 0, 0]
S = [0, 0,    0.25, 0.2, 0, 0]

In [10]:
array = array[:-1]
print('Ella spend is ' + str(np.sum(array*E)))
print('PAM spend is ' + str(np.sum(array*M)))
print('S spend is ' + str(np.sum(array*S)))

Ella spend is 117.026
PAM spend is 127.3385
S spend is 94.9685