In [2]:
import pandas as pd
import numpy as np

In [10]:
spreadsheet = pd.read_csv('font_expenses.csv')
spreadsheet

,Name,Divide,Value,Date,Comment
0,Car,MAN,£395,NaN,Excluding Petrol and Lost Deposit atm
1,Hotel(general expenses),5,£620,All,Approx
2,Hotel specific (tbc) mac,MAN,50,All,Approx
3,Casino,4S,12.65,5th,NaN
4,Casino,4S,6.18,6th,Cereal
5,Bread,5,60,To 14th,(12 x ~5)
6,Casino,4S,60.75,6th,NaN
7,Casino,E,39.49,4th,Ella
8,Casino,4S,37.88,4th,Ella'
9,Casino,MAN,11.23,3rd,Alex paid (Towel)
10,Toll,4E,5.70,1st,NaN
11,Super U,4E,24.06,1st,NaN
12,Casino,4E,99.72,2nd,NaN
13,Dinner,MAN,71,7th,(14 EP 13AM and 17S +10%)
14,Casino,4S,26.27,8th,Rest Day Brunch Work
15,Petrol FR,5,49,8th,Confirmed
16,Baths,MAN,25.50,8th,MJ paid 4S tab; (Ella paid for herself)
17,Casino,E,18.35,9th,Ella
18,Casino,4S,36.65,9th,Ella'
19,Casino,5,9.08,10th,Washing up stuff
20,Casino,E,12,11th,Ella
21,Casino,4S,57,11th,Ella'
22,Carre,5,5,12th,Roll
23,Casino,4S,35.46,13th,Standard stuff
24,Resource Transfer,MAN,£100,14th,Ella to Crout
25,Dinner2,MAN,93.50,14th,S14 A13 E25.50 MP 20.50 +tax
26,Casino,4S,22.27,15th,NaN
27,Fondu,MAN,30,15th,Ella paid
28,Perpi,MAN,70+5+5,16th,For Mac and Alex
29,Sunda,MAN,3,17th,Scott and Ella
30,Petrol,5,24,17th,Second FR fill up excluding some Perp tax
31,Petrol,4E,31.71,18th,Final Fill up
32,Tolls,4E,11.80,18th,NaN

In [11]:
print(spreadsheet[spreadsheet.Divide=='MAN'][['Name','Value','Comment']])

                        Name   Value                                  Comment
0                        Car    £395    Excluding Petrol and Lost Deposit atm
2   Hotel specific (tbc) mac      50                                   Approx
9                     Casino   11.23                        Alex paid (Towel)
13                    Dinner      71                (14 EP 13AM and 17S +10%)
16                     Baths   25.50  MJ paid 4S tab; (Ella paid for herself)
24         Resource Transfer    £100                            Ella to Crout
25                   Dinner2   93.50             S14 A13 E25.50 MP 20.50 +tax
27                     Fondu      30                                Ella paid
28                     Perpi  70+5+5                         For Mac and Alex
29                     Sunda       3                           Scott and Ella

In [5]:
spreadsheet = spreadsheet[spreadsheet.Divide!='MAN']
#spreadsheet.head()
spreadsheet.Divide.unique()

array(['5', '4S', 'E', '4E'], dtype=object)

In [6]:
spreadsheet = spreadsheet[1:] #everyone hits 620/5 == 124 for rent.
value = 'Value'
spreadsheet[[value]] = spreadsheet[[value]].apply(pd.to_numeric)
group = spreadsheet.groupby(spreadsheet.Divide)[value].sum()

In [7]:
array = group.values
print(group)

Divide
4E    172.99
4S    295.11
5     147.08
E      69.84
Name: Value (Euro by default), dtype: float64

In [20]:
E = [0.25, 0,    0.2, 1]
M = [0.25, 0.25, 0.2, 0]
S = [0,    0.25, 0.2, 0]

In [21]:
E = np.sum(array*E)/1.09
M = np.sum(array*M)/1.09
S = np.sum(array*S)/1.09

In [24]:
print('Ella spend is ' + str(E))
print('AM spend is ' + str(M))
print('S spend is ' + str(S))
### Using the Euro at 1.09 to the pound

Ella spend is 130.737155963
AM spend is 134.349541284
S spend is 94.6729357798

In [31]:
print(spreadsheet[spreadsheet.Divide=='MAN'][['Name','Value','Comment']])

                        Name   Value                                  Comment
0                        Car    £395    Excluding Petrol and Lost Deposit atm
2   Hotel specific (tbc) mac      50                                   Approx
9                     Casino   11.23                        Alex paid (Towel)
13                    Dinner      71                (14 EP 13AM and 17S +10%)
16                     Baths   25.50  MJ paid 4S tab; (Ella paid for herself)
24         Resource Transfer    £100                            Ella to Crout
25                   Dinner2   93.50             S14 A13 E25.50 MP 20.50 +tax
27                     Fondu      30                                Ella paid
28                     Perpi  70+5+5                         For Mac and Alex
29                     Sunda       3                           Scott and Ella

In [25]:
## all add 395/5
E += 395/5
M += 395/5
S += 395/5
## tbc (Ella 10+5 and then Scott +5 and Mac got a free +5) - rest goes 5 ways
E += 10    #T
E += 10/3
S += 10/3
M += 10/3
## ignore
## Sum up
## Magic MJ
## deduct 100 from E
E -= 100
## Sum up
# split S and M pay Crout 10 and Crout pays Ella 20
S += 10
M += 10
E -= 20
## Perpi
M += 80
A += 80
## Final snackkette
S += 3
E += 3

SyntaxError: illegal expression for augmented assignment (<ipython-input-25-673f3dfd1602>, line 2)

In [33]:
## SETTLE UP MAC